.content {
    width: 50vw;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-right: 100px;
}
.astronaut {
    width: 400px;
    animation: pulse 10.5s linear infinite;
}

@media (max-width: 768px) {
    .astronaut {
        width: 150px;
        margin: auto;
        padding-left: 70px;
    }
}

@keyframes pulse {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}


